
html {
  position: relative;
  min-height: 100%;
}

header, footer {
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

main > app-router > app-route {
  display: block;

  &[active][path="/"] {
    background-color: orange;
    padding: 10px;
  }

}